/*General CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

.body{
    font-family: 'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

/* CSS for the top "Hero" section (and the navbar) */

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.hero-wrapper{
    background-color: #1f2937;
}

#header-logo {
    height: 100px;
    width: auto;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.nav-item{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    margin: 10px;
}
.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text{
    font-size: 18px;
    color:#E5E7EB;
    
}
.card-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.card-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
    
}

.hero-card{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.card-right img{
    margin-bottom: 50px;
}

.sign-up-button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 70px;
    height: 35px;
    border: #3882F6;
    border-radius: 10px;
    margin-top: 5px;
}

.nav-item:hover{
    color:orangered;
}
/* Styles for the info section */

h2{
    font-size: 45px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.blue-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 100px;
    flex-wrap: wrap;
}

.blue-box{
    border:5px solid #3882F6;
    border-radius: 25px;
    width: 550px;
    height: 304px;
    
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-subtext{
    text-align: center;
    font-size: 25px;
}

/* Styles for the quote section */

.quote-wrapper{
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f3927;
}

.quote-by{
    font-size: 25px;
    font-weight: 500;
    margin-left: 700px;
}

/* styles for the action section */

.sign-up-button:hover{
    cursor: pointer;
}

.action-wrapper{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.action-container{
    background-color: #1f2937;
    width: 50%;
    height: 45%;
    display: flex;
}

.action-left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
   
h4{
    font-size: 35px;
    color: white;
}

.action-text{
    color: #F9FAF8;
    font-size: 25px;
}

.action-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}

.final-button{
    width: 100px;
}

/*styles for footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 70px;
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1F2937;
}